<div class="bottom-0 left-0 right-0 flex justify-around items-cente bg-slate-800 py-6 text-white ">
  <div class="flex flex-col">
    <p class="flex flex font-bold text-xl">
      <img src="../../assets/logo.png" alt="logo" class="w-6 mr-0.5">
      <span>Weather</span>
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      <br>Vel voluptatum,
       minima eligendi minus iste facilis! Corporis
       <br> vitae voluptatum ab delectus,
       quidem excepturi
    </p>
  </div>

  <div class="flex flex-col">
    <h5 class="border-l-2 pl-2 font-semibold ">Links</h5>
    <ul class="flex flex flex-col justify-end  justify-around text-neutral-500 ">
      <li class="hover:text-white "><a href="/about" >About</a></li>
      <li class="hover:text-white  "><a href="/climat" >Climate change</a></li>
      <li  class="hover:text-white "><a href="/news">News</a></li>
      <li class="hover:text-white"><a href="/picture" >Picture</a></li>
    </ul>
  </div>

  <div class="flex flex-col">
    <h5 class="border-l-2 pl-2 font-semibold">Others</h5>
    <ul class="flex justify-end flex-col justify-around text-neutral-500">
      <li class="hover:text-white"><a href="">Tearms of Service</a></li>
      <li class="hover:text-white"><a href="">Privacy Policy</a></li>
    </ul>
  </div>

  <div class="flex flex-col font-semibold">
    <h5 class="border-l-2 pl-2">Social Media</h5>
    <p>
      <span class="font-normal">Follow us on Social Media</span>
    </p>
  </div>


</div>
