<nav class="flex top-0 fixed w-full justify-between items-center px-20 py-3.5 font-sans bg-slate-100">
    <div class="flex font-bold text-xl">
      <img src="assets/logo.png" alt="logo" class="w-6 mr-0.5">
      <span>Weather</span>
    </div>
  <ul class="flex justify-end w-2/6 justify-around text-neutral-500">
    <li class="hover:scale-125 transition-all duration-300 ease-in-out"><a routerLink="/" class="hover:text-black ">Home</a></li>
    <li class="hover:scale-125 transition-all duration-300 ease-in-out"><a routerLink="/about" class="hover:text-black transition-all ">About</a></li>
    <li class="hover:scale-125 transition-all duration-300 ease-in-out"><a routerLink="/news" class="hover:text-black transition-all">News</a></li>
    <li class="hover:scale-125 transition-all duration-300 ease-in-out"><a routerLink="/picture" class="hover:text-black transition-all">Picture</a></li>
  </ul>
</nav>
