<div class="flex flex-col items-center justify-center my-10 bg-slate-100">
  <h3 class="font-bold my-10 text-2xl">World Forecast</h3>
  <div class=" text-lg w-11/12 py-10 bg-white shadow-xl">
    <div class="flex flex-wrap justify-around justify-center">
      <div  class=" relative flex items-center w-full px-5 md:px-0 md:w-2/5  py-4 my-2  hover:bg-gray-100 hover:rounded border-b-2" *ngFor="let country of countries" (click)="onClickCountry(country.name.common)">
        <img class="w-5 h-4 mr-2" [src]="country.flags.png" alt="country.name.common">
        <span>{{country.name.common}}</span>
        <fa-icon [icon]="faSquareArrowUpRight" class="absolute right-4 "></fa-icon>
      </div>
    </div>

      <div class="flex items-center md:items-center justify-center  pt-10 border-t-2">
          <button class="hover:scale-110 md:text-3xl" ><fa-icon [icon]="faChevronCircleLeft" (click)="onPreviousClick()" ></fa-icon></button>
            <p class="mx-5 px-4 py-1 rounded bg-blue-500 text-white font-semibold shadow-md">{{currentPage}}</p>
           <button class="hover:scale-110 md:text-3xl" ><fa-icon [icon]="faChevronCircleRight" (click)=" onNextClick()"></fa-icon></button>
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <a href="#" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">Previous</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
            </svg>
          </a>
          <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
          <a href="#" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{currentPage}}</a>
          <a *ngIf="currentPage !== 23 && currentPage ! > 23" href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{currentPage + 1}} </a>
          <a  *ngIf="currentPage !== 24 && currentPage ! > 24" href="#" class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">{{currentPage + 2}}</a>
          <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
          <a  href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">26</a>
          <a href="#" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
            <span class="sr-only">Next</span>
            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </a>
        </nav>
      </div>
  </div>

</div>
