<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" *ngIf="isOpen" (click)="closeModal()"></div>
<div class="fixed inset-0 z-10 overflow-y-auto" *ngIf="isOpen">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Modal Title</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Your modal content goes here.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" (click)="closeModal()">Close</button>
        <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="flex flex-col items-center justify-center my-10 bg-slate-100">
  <h3 class="font-bold my-10 text-2xl">World Forecast</h3>
  <div class=" text-lg w-11/12 py-10 bg-white shadow-xl">
    <div class="flex flex-wrap justify-around justify-center">
      <div  class=" relative flex items-center w-full px-5 md:px-0 md:w-2/5  py-4 my-2  hover:bg-gray-100 hover:rounded border-b-2" *ngFor="let country of countries" (click)="onClickCountry(country.name.common)">
        <img class="w-5 h-4 mr-2" [src]="country.flags.png" alt="country.name.common">
        <span>{{country.name.common}}</span>
        <fa-icon [icon]="faSquareArrowUpRight" class="absolute right-4 "></fa-icon>
      </div>
    </div>

      <div class="flex  items-center md:items-center justify-center  pt-10 border-t-2">
        <div class="flex w-full  md:w-1/4 justify-between">
          <button  (click)="onPreviousClick()" class=" w-1/2 hover:bg-gray-200 hover:rounded py-2"> <fa-icon [icon]="faAngleDoubleLeft"></fa-icon> Previous</button>
          <button (click)="onnNextClick()" class=" w-1/2 hover:bg-gray-200 hover:rounded py-2">Next <fa-icon [icon]="faAngleDoubleRight"></fa-icon> </button>
        </div>

      </div>
      <div>
      </div>
  </div>

</div>
