<div class=" w-screen h-full flex justify-center md:py-10 md:h-max md:my-5  flex md:justify-center   font-sans  bg-cover bg-[url('assets/download.jpeg')]">
  <div class="md:w-11/12  px-5 md:px-0 w-full py-20 md:py-10  flex flex-col md:flex-row md:items-center ">
    <div class=" w-full md:w-6/12 items-center md:items-start flex flex-col justify-center md:justify-start   text-white ">
      <h5 class="text-3xl font-mono  font-extrabold tracking-wide mb-2">Climate Change
         <br> Weather Forecast
      </h5>

      <p class="mb-2 text-xs  border-l-2 pl-2 text-justify md:text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Praesentium <br> facere odit quos necessitatibus aliquam veritatis?
         Officia architecto est dolor veniam officiis
      </p>

      <p class=" text-black mt-2 mb-2 w-full flex flex-col items-center md:flex-row md:justify-center  md:w-11/12">
        <input type="search" name="search" placeholder=" Search a city..." id="" class=" appearance-none outline-none  w-3/4 py-2 border-2 focus:border-blue-500 rounded "
            [(ngModel)]="city">
        <button class="bg-blue-500 rounded-lg mt-5 md:mt-0 md:ml-2  py-2 px-3 shadow-xl hover:scale-110 shadow-md text-white" (click)="onSearch(city)">Search
          <fa-icon [icon]="faArrowAltCircleRight" class="ml-1 "></fa-icon>
        </button>
      </p>
    </div>

    <div class="md:w-6/12 w-full flex flex-col items-center md:items-end justify-center">
      <div class="bg-white w-3/5 flex-col flex items-center justify-center flex-col rounded-xl shadow-md	">

        <div class=" w-full grid grid-rows-3 justify-items-center grid-flow-col gap-4 py-5 ">
          <div class="flex  justify-around  w-full items-center border-b-2 pb-1">
            <div class="flex">
              <img class="w-30" [src]="weather?.current.condition.icon" alt="">
              <div>
                <h5 class="text-lg font-semibold">  {{weather?.location.region}}</h5>
                <p class="text-sm">{{weather?.forecast.forecastday[0].date}}</p>
              </div>
            </div>

            <div class="text-3xl font-bold mb-5">
              <span class="text-md">{{weather?.current.temp_c}}</span> <span class="text-xl">°C</span>
            </div>

          </div>

          <div class="grid grid-cols-2 gap-4 border-b-2 pb-1">
            <div class="flex flex-col">
              <p class="flex"> <span><img src="assets/sunrise.png" class="w-8 mr-1" alt="sunrise"></span>Sunrise</p>
              <p class="text-center"> {{weather?.forecast.forecastday[0].astro.sunrise}}

              </p></div>
            <div class="flex flex-col"><p class="flex"> <span><img src="assets/assets/sunset.png" class="w-8 mr-1" alt="sunset"></span>Sunset</p> <p class="text-center">{{weather?.forecast.forecastday[0].astro.sunset}}</p></div>
            <div class="flex flex-col"><p class="flex"> <span><img src="assets/humidity.png" class="w-8 mr-1" alt="humidity"></span> Humidity</p> <p class="text-center">{{weather?.current.humidity}}%</p></div>
            <div class="flex flex-col"><p class="flex"> <span><img src="assets/wind.png" class="w-8 mr-1" alt="wind"></span>WindSpeed</p> <p class="text-center">{{weather?.current.wind_kph}}km/h</p></div>
          </div>

          <div class="flex justify-center bg-gradient-to-r from-blue-500 rounded-lg to-yellow-500 px-5 ">
              <div class="flex items-center py-5 text-white flex-col">
                <p>{{weather?.forecast.forecastday[1].date}}</p>
                <p> <img class="w-full" [src]="weather?.forecast.forecastday[1].day.condition.icon" alt=""></p>
                <p>{{weather?.forecast.forecastday[1].day.maxtemp_c}}°C</p>
              </div>
          </div>

        </div>
        <div>

      </div>

      </div>
     </div>
  </div>

</div>





